<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartech.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:name=".SmartechApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:theme="@style/AppThemeActionBar"
            android:name=".OtherFunctionsActivity"
            android:launchMode="singleTask"/>
        <activity
            android:theme="@style/AppThemeActionBar"
            android:name=".CustomActivity"
            android:launchMode="singleTask"/>
        <activity
            android:theme="@style/AppThemeActionBar"
            android:name=".ProfileActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="profile.netcore.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.NotificationCenterActivity"
            android:launchMode="singleTask"/>
        <activity
            android:theme="@style/AppThemeActionBar"
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="action.netcore.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="SMT_LARGE_NOTIFICATION_ICON"
            android:value="logo"/>
        <meta-data
            android:name="SMT_SMALL_NOTIFICATION_ICON"
            android:value="ic_notif"/>
        <!--<meta-data-->
            <!--android:name="com.google.android.gms.ads.APPLICATION_ID"-->
            <!--android:value="<ad_id>"/>-->
        <!--<meta-data-->
            <!--android:name="SMT_USE_AD_ID"-->
            <!--android:value="<value>"/>-->
    </application>

</manifest>